body {
  margin: 0;
  background-color: 0;
}
#Login{
  height: 100%;
  background-image: url("C/Windows/System92/Wallpapers/Login.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Desktop{
  height: 100%;
  background-image: url("C/Windows/System92/Wallpapers/Login.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#StartMenu {
  position: fixed;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.taskbar {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color: rgba(0,0,0,0.9);
  color: white;
}
#Window {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
}
